<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    fullName: {{ fullName }}
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        firstName: 'zou',
        lastName: 'yue',
        // fullName: 'zou yue',
      },
      computed: {
        fullName: {
          get() {
            return this.firstName + ' ' + this.lastName
          },
          set(value) {
            let names = value.split(' ')
            this.firstName = names[0]
            this.lastName = names[names.length-1]
          }
        }
      }
    })
  </script>
</body>
</html>