<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    fullName: {{ fullName }}
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        firstName: 'zou',
        lastName: 'yue',
        fullName: 'zouyue',
      },
      watch: {
        firstName(val) {
          this.fullName = val + this.lastName;
        },
        lastName(val) {
          this.fullName = this.firstName + val;
        }
      }
    })
  </script>
</body>
</html>