<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <!-- v-bind标签 -->
    <span v-bind:title='message'>鼠标悬停的</span>
    <!-- v-for循环 -->
    <div v-for='item in items' >{{ item }}</div>
    <!-- v-on指令 -->
    <div>
      <button @click='increment()'>点击+1: {{ count }}</button>
      <button @click='decrement()'>点击-1: {{ count }}</button>
      <button @click='reverse()'>点我翻转字母{{ messageStr }}</button>
    </div>
    <!-- v-model -->
    <input type="text" v-model='inputString'>
    <p>{{ inputString }}</p>
    <!-- 组件 -->
    <ol>
      <todo-item v-for='item in groceryList' v-bind:todo='item'></todo-item>
      <br>
      <todo-item v-for='(item, index) in groceryList1' v-bind:todo='item' v-bind:key='index'></todo-item>
    </ol>
  </div>
  <script>
    Vue.component('todo-item', {
      props: ['todo'],
      template: `
        <li>{{ todo.text }}</li>
      `
    })
    const vm = new Vue({
      el: '#app',
      data: {
        message: '页面加载于' + new Date().toLocaleString(),
        items: ['张三', '里斯', '王五'],
        count: 0,
        messageStr: 'reverse the string!',
        inputString: 'default',
        groceryList: [
          {id: 0, text: '蔬菜'},
          {id: 1, text: '牛奶'},
          {id: 2, text: '猪肉'},
        ],
        groceryList1: [
          {id: 0, text: '蔬菜'},
          {id: 1, text: '牛奶'},
          {id: 2, text: '猪肉'},
        ]
      },
      methods: {
        increment() {
          this.count++;
        },
        decrement() {
          this.count--;
        },
        reverse() {
          this.messageStr = this.messageStr.split('').reverse().join('')
        }
      },
    })
    
  </script>

</script>
</body>
</html>