<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <template v-if="loginType='username'">
    <label>Username</label>
    <input placeHolder="enter username">
  </template> 
  <template v-else>
    <label>Email</label>
    <input placeHolder="enter email">
  </template>
</body>
</html>

