<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <p>偶数集合：{{ even }}</p>
    <p>奇数集合：{{ odd }}</p>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        arrayList: [3, 6, 4, 9, 7, 10, 9],
      },
      computed: {
        even() {
          return this.arrayList.filter(item => {
            return item % 2 === 0
          })
        },
        odd() {
          return this.arrayList.filter(item => {
            return item % 2 === 1
          })
        }
      }
    })
  </script>
</body>
</html>