<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <!-- 一个参数 -->
    <div v-for="item in items" :ket='item.message'>{{ item.message }}</div>
    <hr>
    <!-- 两个参数 -->
    <div v-for="(item, index) in items" :key='index'>{{ item.message }}</div>
    <!-- 访问所有父作用域的 property -->
    <hr>
    <div v-for="(item, index) in items" :key='index'>{{index}}-{{parentMessage}}-{{ item.message }}</div>
    <!-- 对象 -->
    <div v-for="(value, name, index) in object" :key='index'>{{ index }}.{{ name }}-{{ value }}</div>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        parentMessage: 'parent',
        items: [
          { message: 'Foo' },
          { message: 'Bar' }
        ],
        object: {
          title: 'How to do lists in Vue',
          author: 'Jane Doe',
          publishedAt: '2016-04-10'
        }
      }
    })
  </script>
</body>
</html>