<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    items.length:{{items.length}}
    <div v-if='items.length'>
      <div v-for='(item, index) in items' :key='index'>{{ item }}</div>
    </div>
    <!-- <template v-else></template> -->
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        items: [
          {name: 'zhangsan'},
          {age: 18},
          {location: 'beijing'},
        ]
      },
    })
  </script>
</body>
</html>