<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <!-- 遍历二维数组的所有元素 -->
    <ul v-for="item1 in items">
      <li v-for='item2 in item1'>{{ item2 }}</li>
    </ul>
    <!-- 遍历二维数组的偶数元素 -->
    <ul v-for='item in items'>
      <li v-for='number in even(item)'>{{ number }}</li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        items: [[5, 3, 8], [5, 3, 6], [10, 9, 3]]
      },
      methods: {
        even(item) {
          return item.filter(number => {
            return number % 2 === 0
          })
        }
      }
    })
  </script>
</body>
</html>