<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <form @submit.prevent='addNewTab'>
      <label for="new-todo">Add a todo</label>
      <input v-model='newTodoText' id='new-todo' placeholder='enter a number'>
      <button>Add</button>
    </form>
    <ul>
      <li>
        <todo-item v-on
          v-for='(todo, index) in todos'
          :key='todo.id'
          :title='todo.title'
          @remove='todos.splice(index, 1)'>
        </todo-item>
      </li>
    </ul>
  </div>
  <script>
    Vue.component('todo-item', {
      template: `
        <li>
          {{ title }}
          <button @click="$emit('remove')">Remove</button>
        </li>
      `,
      props: ['title'],
    })
    const vm = new Vue({
      el: '#app',
      data: {
        newTodoText: '',
        todos: [
          {id: 1, title: 'name1'},
          {id: 2, title: 'name2'},
          {id: 3, title: 'name3'},
          {id: 4, title: 'name4'},
        ],
        nextTodoId: 5,
      },
      methods: {
        removeTodo(index) {
          return this.todos.splice(index, 1)
        },
        addNewTab() {
          this.todos.push({
            id: this.nextTodoId++,
            title: this.newTodoText
          })
          this.newTodoText = ''
        }
        
      }
    })
  </script>
</body>
</html>