<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <form @submit.prevent='addItem'>
      <label for="item-index">Add an item</label>
      <input v-model='nextText' id='item-index' placeholder="enter a item">
      <button>Add</button>
    </form>
    <ol>
      <li>
        <todo-item
          v-for='(item, index) in items'
          :key='index'
          :title='item.title'
          @remove='removeItem(index)'
        ></todo-item>
      </li>
    </ol>
  </div>
  <script>
    // 全局注册组件
    Vue.component('todo-item', {
      template: `
        <li>
          {{ title }}  
          <button @click="$emit('remove')">Remove</button>
        </li>
      `,
      props: ['title']
    })
    const vm = new Vue({
      el: '#app',
      data: {
        nextText: '',
        items: [
          {id: 0, title: 'name0'},
          {id: 1, title: 'name1'},
          {id: 2, title: 'name2'},
          {id: 3, title: 'name3'},
        ],
        nextId: 4,
      },
      methods: {
        removeItem(index) {
          return this.items.splice(index, 1)
        },
        addItem() {
          this.items.push({
            id: this.nextId++,
            title: this.nextText
          }),
          this.nextText = ''
        }
      }
    })
  </script>
</body>
</html>