<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    {{ foo }}
    <button v-on:click="foo = 'baz'">点我</button>
  </div>
  <script>
    var obj = {
      foo: 'bar'
    }
    // 阻止修改现有的 property，即foo
    Object.freeze(obj)
    const vm = new Vue({
      el: '#app',
      data: obj,
    })
  </script>
</body>
</html>