<template>
  <div>
    <MyList :arrList='list'>
    <MyInput>
  </div>
</template>

<script>
import MyInput from './components/MyInput.vue'
import MyList from './components/MyList.vue'
export default {
  components: {
    MyList,
    MyInput,
  },
  data() {
    return {
      list: [
        {id: 1, title: 'title1'},
        {id: 2, title: 'title2'}
      ]
    }
  }
}
</script>