<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <div>
      <!-- <div>我是父组件</div> -->
      message:{{ message }}
      <child-component @showMessage="showMessageFather('h1')"></child-component>
      
    </div>
  </div>
  <script>
    Vue.component('child-component', {
      template: `
        <div>
          <template>我是子组件</template>  
        </div>
      `,
      mounted() {
        this.$emit('showMessage', '我是父组件')
      }
    })
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          message: '',
        }
      },
      methods: {
        showMessageFather(content) {
          this.message = content
        }
      }
    })
  </script>
</body>
</html>