<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <div>
      <!-- <div>我是父组件</div> -->
      <child-component @showCity="showMessageFather()" :toCity='fromCity'></child-component>
    </div>
  </div>
  <script>
    Vue.component('child-component', {
      template: `
        <div>
          <template>父组件传值给子组件{{ toCity }}</template>
          <br>
          <template>
            <button @click="select('北京')">子组件传值给父组件</button>
          </template>  
        </div>
      `,
      methods: {
        select(val) {
          let data = {city: val}
          this.$emit('showCity', data)
        }
      },
      props: ['toCity']
    })
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          message: '',
          fromCity: 'shanghai'
        }
      },
      methods: {
        showMessageFather(content) {
          this.fromCity = content.city
          console.log('this.fromCity:', this.fromCity);
        }
      }
    })
  </script>
</body>
</html>