<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <child-component message='hello'></child-component>
    <child-component :message='a + b'></child-component>
    <child-component :message='msg'></child-component>
  </div>
  <script>
    Vue.component('child-component', {
      template: `
        <div>
          <template>
            {{ message }}  
          </template>
        </div>
      `,
      props: ['message']
    })
    const vm = new Vue({
      el: '#app',
      data: {
        a: 'beijing',
        b: 'xiaomi',
        msg: '组件3:' + Math.random(),
      },
      methods: {
        
      }
    })
  </script>
</body>
</html>