<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <button-counter 
      v-for="post in posts"
      :key='post.id'
      :title=post.title></button-counter>
    <button-counter title='title1'></button-counter>
    <button-counter title='title2'></button-counter>
  </div>
  <script>
    Vue.component('button-counter', {
      template: `
        <div>{{ title }}</div>
      `,
      props: ['title'],
    })
    const vm = new Vue({
      el: '#app',
      data: {
        posts: [
          { id: 1, title: 'My journey with Vue' },
          { id: 2, title: 'Blogging with Vue' },
          { id: 3, title: 'Why Vue is so fun' }
        ]
      },
    })
  </script>
</body>
</html>