<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <my-list :arrList='list'></my-list>
    <my-input @add='addMsg'></my-input>
  </div>
  <script>
    Vue.component('my-list', {
      template: `
        <ul>
          <li v-for="(item, index) in arrList" >
            {{ item.title }}  
          </li>  
        </ul>
      `,
      props: ['arrList'],
    }),
    Vue.component('my-input', {
      tempalte: `
        <input v-model='msg'>
        <button @click='addText'>点击添加</button>
      `,
      methods: {
        addText() {
          this.$emit('add', this.msg)
        }
      },
      data() {
        return {
          msg: '',
        }
      }
    }),
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          list: [
            {id: 0, title: 'title0'},
            {id: 1, title: 'title1'}
          ]
        }
      },
      methods: {
        addMsg(content) {
          let id = Math.random();
          this.list.push(id, content)
        }
      }
    })
  </script>
</body>
</html> -->