<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <div>
      <div>我是父组件</div>
      <child-component ref='msg'></child-component>
    </div>
  </div>
  <script>
    Vue.component('child-component', {
      template: `
        <div>
          <template>{{ message }}</template>  
        </div>
      `,
      data() {
        return {
          message: 'haha',
        }
      },
      methods: {
        getMessage(content) {
          this.message = content
        }
      }
    })
    const vm = new Vue({
      el: '#app',
      data: {

      },
      mounted() {
        console.log('ref:', this.$refs.msg);
        this.refs.msg.getMessage('hello')
      },
    })
  </script>
</body>
</html>