<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <button-counter :count='count'></button-counter>
    <!-- count: {{ count }} -->
    <button-counter :count='count'></button-counter>
  </div>
  <script>
    Vue.component('button-counter', {
      data() {
        return {
          count: 0,
        }
      },
      template: `
        <div>
          <button @click="count++">点击了{{ count }}次</button>  
        </div>
      `,
      // props: ['count'],
    })
    const vm = new Vue({
      el: '#app',
      data: {
        count: 10,
      },
    })
  </script>
</body>
</html>