<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <div :style="{fontSize: postFontSize + 'em'}">
      <button-counter 
        v-for="post in posts"
        :key='post.id'
        :post='post'
        @enlarge-size='enlargeSize()'
        @narrow='narrowSize()'>
      </button-counter>
    </div>
  </div>
  <script>
    Vue.component('button-counter', {
      template: `
        <div>
          <h3>{{ post.title }}</h3>
          <button @click="$emit('enlarge-size')">点击放大字体</button>
          <button @click="$emit('narrow')">点击缩小字体</button>
          <div v-html='post.content'></div>
        </div>
      `,
      props: ['post'],
    })
    const vm = new Vue({
      el: '#app',
      data: {
        posts: [
          { id: 1, title: 'My journey with Vue' },
          { id: 2, title: 'Blogging with Vue' },
          { id: 3, title: 'Why Vue is so fun' }
        ],
        postFontSize: 1,
      },
      methods: {
        enlargeSize() {
          this.postFontSize += 0.1;
        },
        narrowSize() {
          this.postFontSize -= 0.1;
        }
      }
    })
  </script>
</body>
</html>