<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <child-component>
      <template #todo="{listScope}">
        {{ listScope.name }}
      </template>
    </child-component>
  </div>
  <script>
    Vue.component('child-component', {
      template: `
        <div>
          <ul>
            <li v-for="item in list" :key='item.id'>
              <slot name='todo' :listScope='list'></slot>
              {{ item.name }}--{{ item.age }}--{{ item.sex }}
            </li>  
          </ul>
        </div>
      `,
      data() {
        return {
          list: [
            {id: 0, name: '马冬梅', age: 28, sex: '女'},
            {id: 1, name: '周冬雨', age: 19, sex: '女'},
            {id: 2, name: '周杰伦', age: 30, sex: '男'},
            {id: 3, name: '温兆伦', age: 21, sex: '男'},
          ],
        }
      }
    })
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          
        }
      }
    })
  </script>
</body>
</html>