<!-- https://segmentfault.com/a/1190000018441566 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <child-component>
      <!-- strArrScope:strArr表示重新赋值 -->
      <template v-slot:footer="{listScope, arrScope, strArrScope:strArr}">
        <ul>
          <li v-for="item in listScope" :key='item.id'>
            {{ item.name }}--{{ item.age }}--{{ item.sex }}
          </li>
          <li v-for="(item, index) in arrScope" :key='index'>
            {{ item }}
          </li>
          <li v-for="item in strArr" :key='item.id'>
            {{ item.name }}
          </li>
        </ul>
      </template>
    </child-component>
  </div>
  <script>
    Vue.component('child-component', {
      template: `
        <div>
          <slot name='footer' :listScope='list' :arrScope='arr' :strArrScope='strArr'></slot>
          <slot></slot>  
        </div>
      `,
      data() {
        return {
          list: [
            {id: 0, name: '马冬梅', age: 28, sex: '女'},
            {id: 1, name: '周冬雨', age: 19, sex: '女'},
            {id: 2, name: '周杰伦', age: 30, sex: '男'},
            {id: 3, name: '温兆伦', age: 21, sex: '男'},
          ],
          arr: [1, 2, 3, 4],
          strArr: [
            {id: 0, name: 'java'},
            {id: 1, name: 'c++'},
            {id: 2, name: 'python'},
          ]
        }
      }
    })
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          
        }
      }
    })
  </script>
</body>
</html>