<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <child-component>
      <p>以下内容是子组件绑定数据的内容1</p>
      <template slot-scope='listScope'>
        <ul>
          <li v-for="item in listScope.listSlot" :key='item.key'>
            {{ item.name }}--{{ item.age }}
          </li>
        </ul>
      </template>
      <p>以下内容是子组件绑定数据的内容2</p>
    </child-component>
  </div>

  <script>
    Vue.component('child-component', {
      template: `
        <div>
          <p>子组件内容</p>
          <slot :listSlot='list'></slot>
          <slot></slot>
        </div>
      `,
      data() {
        return {
          list: [
            {id: 0, name: '马冬梅', age: 28, sex: '女'},
            {id: 1, name: '周冬雨', age: 19, sex: '女'},
            {id: 2, name: '周杰伦', age: 30, sex: '男'},
            {id: 3, name: '温兆伦', age: 21, sex: '男'},
          ], 
        }
      }
    }),
    new Vue({
      el: '#app',
      data() {
        return {

        }
      }
    })
  </script>
</body>
</html>