<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <child-component>
      <p>具名插槽父级组件1</p>
      <template v-slot:header>
        我是具名组件的header
      </template>
      <template v-slot='strArrText'>
        <ul>
          <li v-for='(item, index) in strArrText.strArrScope' :key='index'>
            {{ item }}
          </li>
        </ul>
      </template>
      <p>具名插槽父级组件2</p>
      <template v-slot:footer='scopeText'>
        我是具名组件的footer
        <ul>
          <li v-for="item in scopeText.listScope" :key='item.id'>
            {{ item.name }}--{{ item.age }}--{{ item.sex }}
          </li>
        </ul>
        <ul>
          <li v-for='(item, index) in scopeText.arrScope' :key='index'>
            {{ item }}
          </li>
        </ul>
      </template>
      <p>具名插槽父级组件3</p>
    </child-component>
  </div>
  <script>
    Vue.component('child-component', {
      template: `
        <div>
          <p>具名插槽</p>
          <slot name='header'></slot>  
          <slot :strArrScope='strArr'></slot>
          <slot name='footer' :listScope='list' :arrScope='arr'></slot>
          <slot></slot>  
        </div>
      `,
      data() {
        return {
          list: [
            {id: 0, name: '马冬梅', age: 28, sex: '女'},
            {id: 1, name: '周冬雨', age: 19, sex: '女'},
            {id: 2, name: '周杰伦', age: 30, sex: '男'},
            {id: 3, name: '温兆伦', age: 21, sex: '男'},
          ],
          arr: [1, 2, 3, 4],
          strArr: ['java', 'python', 'c++']
        }
      }
    })
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          
        }
      }
    })
  </script>
</body>
</html>