<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id='app'>
    <!-- 单行文本 -->
    <input type="text" v-model='textName' placeholder="enter some text">
    <br>
    textName:{{ textName }}
    <hr>
    <!-- 多行文本 -->
    <textarea name="" id="" cols="30" rows="10" v-model='mulText' placeholder="enter multi text"></textarea>
    <br>
    mulText: {{ mulText }}
    <hr>
    <!-- 复选框 -->
    <input type="checkbox" id='checkbox' v-model='checked'>
    <br>
    <label for="checkbox">{{ checked }}</label>
    <hr>
    <!-- 多个复选框，绑定到同一个数组 -->
    <input type="checkbox" id='jack' value='Jack' v-model='arrName'>
    <label for="jack">Jack</label>
    <input type="checkbox" id='mike' value='Mike' v-model='arrName'>
    <label for="mike">Mike</label>
    <input type="checkbox" id='john' value='John' v-model='arrName'>
    <label for="john">John</label>
    <br>
    <span>checked names: {{ arrName }}</span>
    <hr>
    <!-- 单选按钮 -->
    <input type="radio" id='one' value='One' v-model='picked'>
    <label for="one">One</label>
    <input type="radio" id='two' value='Two' v-model='picked'>
    <label for="two">Two</label>
    <br>
    <span>picked: {{ picked }}</span>
    <hr>
    <!-- 单选框 -->
    <select v-model='selected'>
      <option disabled value=''>请选择</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
    <br>
    <span>selected: {{ selected }}</span>
    <hr>
    <!--  -->
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        textName: '',
        mulText: '',
        checked: true,
        arrName: [],
        picked: '',
        selected: '',
      },
    })
  </script>
</body>
</html>