<template>
  <div>
    <ul>
      <li v-for='(item, index) in arrList' :key='index'>
        标题：{{ item.title }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: [arrList]
}
</script>